<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Welcome</title>
</head>
<body>
    <nav>
        <h1>Welcome</h1>
            <ul>
                <li><a href = "/"><h4>Home</h4></a></li>
                <li><a href = "/Register"><h4>Register</h4></a></li>
                <li><a href = "/login"><h4>Login</h4></a></li>
            </ul>
    </nav>

    <h2>Example MongoDb Login System</h2>


    <P class="pageWrapper">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti a nulla iusto quam, 
        ut praesentium magnam quis aspernatur, omnis asperiores totam 
        voluptates odit eos! Est reprehenderit vel repellat totam qui!</P>

    <P class="pageWrapper">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti a nulla iusto quam, 
        ut praesentium magnam quis aspernatur, omnis asperiores totam 
        voluptates odit eos! Est reprehenderit vel repellat totam qui!</P>
        
    <P class="pageWrapper">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti a nulla iusto quam, 
        ut praesentium magnam quis aspernatur, omnis asperiores totam 
        voluptates odit eos! Est reprehenderit vel repellat totam qui!</P>

</body>
</html>